* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

main {

}

#display {
    height: 303px;
    width: 303px;  
}

#game-board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    height: 303px;
    width: 303px;
}

.game-board-tile {
    height: 100px;
    width: 100px;
    text-align: center;
    
    border: 1px solid red;
}